@font-face {
    font-family: Inter;
    src: url("static/Inter_18pt-Regular.ttf");
    font-size: 400;
}
@font-face {
    font-family: Inter;
    src: url("static/Inter_18pt-SemiBold.ttf");
    font-size: 600;
}